---
layout: default
---

<aside>
<b><a href="https://kac844.github.io/Homepage/" >Karen's blog</a></b>
<b><a href="https://a1liu.com/wearables-blog/" >Albert's blog</a></b>
<b>My posts</b>
  <ul>
    {% for post in site.posts reversed%}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</aside>

<div class="posts">
  {% for post in site.posts reversed%}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>

  {% endfor %}

</div>
