
<aside>
<div id="stick-here"></div>
<div id=menu>
<b><a href="https://kac844.github.io/Homepage/" >Karen's blog</a></b><br>
<b><a href="https://a1liu.com/wearables-blog/" >Albert's blog</a></b><br><br>

<b>My posts:</b>
  <ul>
    {% for post in site.posts reversed%}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

<b>Interesting projects:</b>
  <ul>
      <li>
        <a href="https://www.instructables.com/id/Lilypad-Arduino-Rainbow-Fish-Twinkle-Bag/" target="_blank">
        Lilypad Arduino - Rainbow Fish Twinkle Bag</a>
      </li>
  </ul>

</div>

</aside>
